* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);  
}

.main {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 950px;
  height: 70%;
}

.main > div {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;


}

.left {
  background-image: url("images/bgl.jpg");
  border-radius: 20px 0 0 20px;
}

.right {
  background-image: url("images/bgr.jpg");
  border-radius: 0 20px 20px 0;
}

.left > div {
  width: 150px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.8);
  top: calc(50% - 24.5vh); /* Align the top of the logo box with the signup box, 24.5vh is basically (70% * 70vh)/2 simplified */
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left > div > * {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left > div > img {
  top: 1rem;
  border-radius: 50%;
}

.left > div > p {
  top: 6rem;
  border-radius: 50%;
  font-size: 1.5rem;
}