* {
  box-sizing: border-box;
  scrollbar-width: thin;
  line-height: 1;
}

body {
  margin: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

/* Background image for the body but in a pseudo element to blur it alone */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);  
}

.main {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1050px;
  height: 80%;
}

.main > div {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.left {
  background-image: url("images/bgl.jpg");
  border-radius: 1.25rem 0 0 20px;
}

.right {
  background-image: url("images/bgr.jpg");
  border-radius: 0 20px 20px 0;
}

.main > .error {
  position: absolute;
  width: 35%;
  height: auto;
  background-color: rgb(255, 68, 68);
  z-index: 3;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: left;
  padding-inline: 0.25rem;
  color: rgb(248, 248, 248);
  border-radius: 0 0 0.5rem 0.5rem;
  display: grid;
  grid-template-rows: 0fr;
}

.main > .error > div {
  overflow-y: hidden;
}

.main > .error * {
  vertical-align: middle;
}

@keyframes error {
  0% {
    grid-template-rows: 0fr;
    padding-block: 0;
  }

  50% {
    grid-template-rows: 1fr;
    padding-block: 0.25rem;
  }

  100% {
    grid-template-rows: 0fr;
    padding-block: 0rem;
  }
}

/* Popup */
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1050px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  border-radius: 1.25rem;
  color: white;
  padding: 1rem;
  text-align: justify;
  opacity: 0;
  overflow-y: auto;
  transition: 0.2s visibility, 0.2s opacity;
  visibility: hidden;
}

.popup pre {
  white-space: pre-wrap;
  word-wrap: break-word;       
  overflow-wrap: break-word;   
}

.popup > button {
  display: block;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  margin-left: auto;
  border: 2px solid white !important;
}


/* Right Side Design */

.right > div {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.25rem;
  padding-inline: min(2rem, 10% - 1rem);
  padding-block: min(1rem, 5%);
  display: flex; 
  flex-direction: column;
  align-content: center;
  overflow: auto;
  scrollbar-width: none;

}
#v1{
  overflow: visible;
  clip-path: inset(calc(-infinity *1px) 0 0 0); 
}

.full-width {
  width: 100%;  
  height: 35px;
  min-height: 35px;
  margin-block: 0.25rem;
  border-radius: 0.5rem;
}

/* Button design */

.wrapper > button {
  color: white;
  font-size: 1rem;
  border: 2px solid black;
  background: black;
  cursor: pointer;
  transition: 0.2s background-color, 0.2s color;
}

.wrapper > button:hover {
  color: black;
  background-color: transparent;
}

.right > div > button > * {
  vertical-align: middle;
}

/* Navigation Menu */

.nav {
  display: flex;
  margin-top: auto;
}

.nav > .back {
  width: 35%;
}

.nav > .next {
  width: 35%;
  margin-left: auto;
  display: inline-block;
}

/* Password Section Design in v1 */

.password-section > input {
  width: 85%; 
  height: 35px;
  border-radius: 0.5rem;
}

.password-section > button {
  background: none;
  border: none;
  cursor: pointer;
  width: 13%;
}

.password-section > input {
  border: 1px solid black;
  padding-left: 20px;
}

.password-section > * {
  vertical-align: middle;
}

/* Other specific stuff */

.right > div > input {
  border: 1px solid black;
  padding-left: 20px;
}

.wrapper > label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.25rem;
  
}
.wrapper > * {
  vertical-align: middle;
}

.right > div > #or { 
  text-align: center;
  font-size: 1.25rem;
  align-content: center;
}

#v3, #v2 {
  display: none;
}

.gender {
  margin-top: 0.5rem;
}

label[for="prove-terms"] {
  margin-top: 0.75rem;
}

.prove-robot {
  margin-top: auto;
}

.last-nav {
  margin-top: 0;
}

.gender > label, .terms > label, .terms > span {
  font-weight: bold;
  font-size: 0.8rem;
}

.terms > span {
  cursor: pointer;
  text-decoration: underline;
}

.terms > * {
  vertical-align: middle;

}

/* Left Side Design */

.left > div {
  width: 150px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.8);
  top: calc(50% - 28vh); /* Align the top of the logo box with the signup box, 28vh is basically (70% * 80vh)/2 simplified */
  border-radius: 1.25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left > div > * {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.left > div > img {
  top: 1rem;
}

.left > div > p {
  font-size: 1.5rem;
  text-align: center;
}
/*new_______________________*/
.pas > input{
  font-size: calc(33px * 0.4);
  padding-top:calc(33px * 0.3);
  padding-bottom:calc(33px * 0.3);
  border: 1px solid black;
  padding-left: 20px;
  width: 100%;
  height: 35px;
  margin-block: 0.25rem;
  border-radius: 0.5rem;
}
.pas{
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 0 0 0;
  overflow: hidden;

}
.follow_span{
  opacity: 0;
  position: absolute;
   background-color: aqua;
  color: brown;
  top:calc(33px * 0.3 + 1px);
  left: 21px;
  width: auto;
  height:calc(33px * 0.4) ;
  font-size: calc(33px * 0.4);
  white-space:pre-wrap;
  overflow: hidden;
}
.visibility_button{
  margin-right: 0;
  padding: 0;
}
.ema{
  position: relative;
  height:35px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 4px 0 4px 0;
  overflow: visible;
  clip-path: inset(calc(infinity * -1px) 0 0 0);

}
.ema > input{
  border: 1px solid black;
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
/*girl___________________________*/
:root{
  --im_width:40%;
  --eye_D:29%;
  --iris_D:calc(100% * 10 / 29);
  --circlation_R: 0.5;
  --iris_DC: 0px;
  --circlation_RC: 0px;
}
.eye{
  position: absolute;
  width: var(--eye_D);
  height: var(--eye_D);
  border-radius: 100%;
}
.e1{
  top:calc(100% * 221 * 404 / (500 * 394));
  left: calc(100% * 193 / 500);
}
.e2{
  top:calc(100% * 183 * 404 / (500 * 394));
  left: calc(100% * 63 / 500);
}
.iris{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: calc(var(--iris_DC)/-2 + var(--circlation_RC)) calc(var(--iris_DC)/-2 + var(--circlation_RC));
  transform-origin: calc(var(--iris_DC)/2 - var(--circlation_RC)) calc(var(--iris_DC)/2 - var(--circlation_RC));
  width: var(--iris_D);
  height: var(--iris_D);
  background-color: black;
  border-radius: 100%;
}

.girl{
  position: absolute;
  width: var(--im_width);
  aspect-ratio: 404 / 394;
  bottom: 0;
  translate: 0 5%;
  right: 0;
  background-image: url('images/girl.png');
  background-repeat: no-repeat;
  background-size:contain ;
  background-position: center bottom;

}

